<h1>Editing Entry in office-I(Major Communication System Availability)</h1>
<p>Please Enter Name as "Mobiles or Landlines"</p>

<% form_for(@office) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :existing_nos %><br />
    <%= f.text_field :existing_nos %>
  </p>
  <p>
    <%= f.label :nos_deleted %><br />
    <%= f.text_field :nos_deleted %>
  </p>
  <p>
    <%= f.label :nos_added %><br />
    <%= f.text_field :nos_added %>
  </p>
  <p>
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </p>
  <p>
    <%= f.label :report_date %><br />
    <%= f.text_field :report_date %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @office %> |
<%= link_to 'Back', offices_path %>
