<p>
  <b>Name:</b>
  <%=h @office.name %>
</p>

<p>
  <b>Existing nos:</b>
  <%=h @office.existing_nos %>
</p>

<p>
  <b>Nos deleted:</b>
  <%=h @office.nos_deleted %>
</p>

<p>
  <b>Nos added:</b>
  <%=h @office.nos_added %>
</p>

<p>
  <b>Total:</b>
  <%=h @office.total %>
</p>

<p>
  <b>Report date:</b>
  <%=h @office.report_date %>
</p>


<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
