<h1>Others</h1>
<p>Please Enter Name from "Audit Paras Settled(Govt.& IA), Highlights, Leased Lines, Network Performance"</p>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Report date</th>
  </tr>

<% for other in @others %>
  <tr>
    <td><%=h other.name %></td>
    <td><%=h other.status %></td>
    <td><%=h other.report_date %></td>
    <td><%= link_to 'Show', other %></td>
    <td><%= link_to 'Edit', edit_other_path(other) %></td>
    <td><%= link_to 'Destroy', other, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_other_path %>
