<p>
  <b>Name:</b>
  <%=h @itismgmtfinal.name %>
</p>

<p>
  <b>Existing nos:</b>
  <%=h @itismgmtfinal.existing_nos %>
</p>

<p>
  <b>Change in nos:</b>
  <%=h @itismgmtfinal.change_in_nos %>
</p>

<p>
  <b>Availability percentage:</b>
  <%=h @itismgmtfinal.availability_percentage %>
</p>

<p>
  <b>Downtime hrs:</b>
  <%=h @itismgmtfinal.downtime_hrs %>
</p>

<p>
  <b>Report date:</b>
  <%=h @itismgmtfinal.report_date %>
</p>


<%= link_to 'Edit', edit_itismgmtfinal_path(@itismgmtfinal) %> |
<%= link_to 'Back', itismgmtfinals_path %>
