<h1>Office-II-Maintenance(Major Communication System Availability)</h1>
<p>Please Enter Name as "Exchange-Maintenance or ICNET-Voice"</p>

<table>
  <tr>
    <th>Name</th>
    <th>Existing nos</th>
    <th>Change in nos</th>
    <th>Availablity percentage</th>
    <th>Downtime hrs</th>
    <th>Report date</th>
  </tr>

<% for maintenanceoffice in @maintenanceoffices %>
  <tr>
    <td><%=h maintenanceoffice.name %></td>
    <td><%=h maintenanceoffice.existing_nos %></td>
    <td><%=h maintenanceoffice.change_in_nos %></td>
    <td><%=h maintenanceoffice.availablity_percentage %></td>
    <td><%=h maintenanceoffice.downtime_hrs %></td>
    <td><%=h maintenanceoffice.report_date %></td>
    <td><%= link_to 'Show', maintenanceoffice %></td>
    <td><%= link_to 'Edit', edit_maintenanceoffice_path(maintenanceoffice) %></td>
    <td><%= link_to 'Destroy', maintenanceoffice, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_maintenanceoffice_path %>
