<h1>Editing Entry in fields details</h1>
<p>Please Enter Name from "VHF, landlines, EPABXs, Data Connectivity(SAP KU-BAND), MF-TDMA/C-BAND, SCADA System(no. of loops)"</p>

<% form_for(@field) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :existing_nos %><br />
    <%= f.text_field :existing_nos %>
  </p>
  <p>
    <%= f.label :change_in_nos %><br />
    <%= f.text_field :change_in_nos %>
  </p>
  <p>
    <%= f.label :availability_percentage %><br />
    <%= f.text_field :availability_percentage %>
  </p>
  <p>
    <%= f.label :downtime_hrs %><br />
    <%= f.text_field :downtime_hrs %>
  </p>
  <p>
    <%= f.label :report_date %><br />
    <%= f.text_field :report_date %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @field %> |
<%= link_to 'Back', fields_path %>
