<h1>IT Infrastructure Service Management-I</h1>
<p>Please Enter Name from "Computer-Maintenance, Printer-Maintenace, Laptops, Employee/Computer Ratio"</p>

<table>
  <tr>
    <th>Name</th>
    <th>Existing nos</th>
    <th>Nos deleted</th>
    <th>Nos added</th>
    <th>Total</th>
    <th>Report date</th>
  </tr>

<% for itismgmt in @itismgmts %>
  <tr>
    <td><%=h itismgmt.name %></td>
    <td><%=h itismgmt.existing_nos %></td>
    <td><%=h itismgmt.nos_deleted %></td>
    <td><%=h itismgmt.nos_added %></td>
    <td><%=h itismgmt.total %></td>
    <td><%=h itismgmt.report_date %></td>
    <td><%= link_to 'Show', itismgmt %></td>
    <td><%= link_to 'Edit', edit_itismgmt_path(itismgmt) %></td>
    <td><%= link_to 'Destroy', itismgmt, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_itismgmt_path %>
